[2011-03-03 10:54] DanielYWoo opened #11 "PHP Client riak.php does not recognize 204 response code and report error [JIRA: CLIENTS-85]"
In riak.php line 1058, it only recognize 200 and 300 code.
    # Run the operation.
    $response = RiakUtils::httpRequest('PUT', $url, $headers, $content);
    $this->populate($response, array(200, 300));
    return $this;
However, the latest Riak can return 204 for empty response body, then the client throws an error from populate(..). The fix is simple:
    $this->populate($response, array(200,

[2011-05-31 14:38] maggnus opened #14 "Doesn't work "keep" option"
$client = new Ext_Riak();
$bucket = $client->bucket("test");

$bucket->newObject("foo1", 111)->store();
$bucket->newObject("foo2", 222)->store();
$bucket->newObject("foo3", 333)->store();
$bucket->newObject("foo4", 444)->store();

$foo1 = $bucket->get('foo1');
$foo2 = $bucket->get('foo2');
$foo3 = $bucket->get('foo3');
$foo4 = $bucket->get('foo4');

$foo1->addLink($foo2)->store();
$foo2->addLink($

[2011-06-02 05:56] #14 closed, assigned to nobody

[2012-03-05 14:50] ButuzGOL opened #23 "[X] TEST FAILED: testSearchIntegration"
[X] TEST FAILED: testSearchIntegration

function testSearchIntegration() {
  # Create some objects to search across...
  $client = new RiakClient(HOST, PORT);
  $bucket = $client->bucket("searchbucket");
  $bucket->newObject("one", array("foo"=>"one", "bar"=>"red"))->store();
  $bucket->newObject("two", array("foo"=>"two", "bar"=>"green"))->store();
  $bucket->newObject("three", array("foo"=>"thre

[2012-03-08 12:01] geckoeffect opened #24 "The Function buildRestPath format incorrect for latest versions [JIRA: CLIENTS-86]"
riak request format has changed
GET /riak/bucket/key            # Old format
GET /buckets/bucket/keys/key    # New format
as referenced here
http://wiki.basho.com/HTTP-Fetch-Object.html
http://wiki.basho.com/HTTP-Store-Object.html
http://wiki.basho.com/HTTP-Delete-Object.html

the format in the function is formatted as below and is now incorrect
    # Build 'http://hostname:port/prefix/bucket'

a

[2012-03-28 19:41] seancribbs opened #25 "Check for proper escaping of "/" in PHP client [JIRA: CLIENTS-88]"
Moved from https://issues.basho.com/show_bug.cgi?id=243, reported by @argv0

[2012-05-27 00:51] jarnix opened #27 "RiakObject addIndex should return $this"
The function addIndex returns nothing when you don't specify the value of the index :

[code]

This should be :

[code]

[2012-07-02 11:58] joskov opened #29 "Problem with getKeys()"
I have a problem with the getKeys() method of RiakBucket objects. The issue seems to occur when there are a lot of keys in a bucket (more than 2000). The curl request seems to hang because of low memory. I tried to change the memory to 1000MB but that didn't seem to solve the problem.

What I did to solve the problem:
1. changed to keys=stream parameter
2. split the response and parse the json sep

[2012-07-16 19:13] tarnfeld opened #31 "Working with a cluster"
This probably isn't the best place to post this, but I'm not quite clear how you would use this client with a cluster of > 1 nodes (on separate machines). Could anyone point me in the right direction? Happy to do some reading/watching but no idea where to look :-)

[2012-07-16 22:15] #31 closed, assigned to nobody

[2012-07-23 18:27] garadox opened #33 "Code requires Curl"
Hi,

Your documentation does not mention a dependency on the Curl module for PHP. I am not able to install this module in my hosting environment.

Please update your documentation to include all dependencies you have.

[2012-08-23 06:13] pfote opened #35 "support for "GET HEAD ..""
are there any plans to support a request for only fetching meta data via GET HEAD? could be useful if the payload is rather big

[2012-09-28 11:19] FrancisVarga opened #36 "composer migration"
any steps to composer?

[2013-01-11 08:10] kuenishi opened #39 "promote() fails inside store/get after about 10000 request completed"
PHP client throws Exception like this, after about 10000 queries done

[code]

Reproduction code sample is so simple (copied from doc):

[code]

[2013-01-16 08:29] #39 closed, assigned to nobody

[2013-01-20 19:34] #23 closed, assigned to nobody

[2013-01-20 19:44] #29 closed, assigned to nobody

[2013-01-20 19:57] #33 closed, assigned to nobody

[2013-01-20 20:00] #35 closed, assigned to nobody

[2013-02-28 16:24] #36 closed, assigned to nobody

[2013-04-01 15:54] seancribbs opened #46 "Remove client-side-only quorums [JIRA: CLIENTS-89]"
The various "setR"/"getR" accessors on Bucket and Client should be removed in favor of using bucket properties and request-time quorum options. This will bring it in line with the patterns used in the Python and Ruby clients and remove the inherent ambiguity and leakiness.

/cc @MarcoDeBortoli

[2013-04-01 16:19] seancribbs opened #47 "Remove new_/get_binary, replace with serializers and lazy codec"
Reification of serialized types should be dependent on whether the application needs the types or not, not how the object was fetched. For example, an application might want to fetch in one media type and rewrite the object in another, but the current structure would make that difficult, ignoring the newly assigned media type if the object was previously automatically deserialized.

For reference,

[2013-05-24 21:06] alexmoore opened #49 "PHP Client Quick Start Doesn't Work"
It looks like the code we provide for the quick start hasn't worked since everything was split out from the single `riak.php` file (6f2a31d385a77d9f0d4b8581dbcc06ccc4739263).

I got around this by "borrowing" the loader code from `test.php` and changing the declarations to use the new namespacing, but probably need something succinct for the quick start.

[2013-07-03 04:36] vibinit opened #54 "Riak.reduceSlice"
Just wondering if there was a way to perform this during reduce phase... I didn't see any docs or any usage info in the unit tests. Any pointers are appreciated!

[2013-08-26 02:48] kuenishi opened #58 "Riak 2.0 Feature: CRDTs [JIRA: CLIENTS-60]"
Per basho/riak#354 , Riak 2.0 will bring more CRDTs, including sets, vector clocks, flags, and more to Riak.

- [ ] Support maps
- [ ] Support sets
- [ ] Support counters

[2013-08-26 02:50] kuenishi opened #59 "Riak 2.0 Feature: security"
The PHP client needs to support security per basho/riak#355 .

- [ ] configure local credentials
- [ ] return appropriate errors when requests fail
- [ ] work correctly when requests succeed

php currently doesn't need "connect to protobuffs over TLS" because this only does support http.

[2013-08-27 18:35] dlsniper opened #61 "Protobuf support for Riak communication [JIRA: CLIENTS-84]"
There should an option to use either Protobuf or the existing HTTP requests.

I'd like to work on it but I'm not sure what implementation for Protobuf to choose for it.

From my research I've found these two:
- https://github.com/drslump/Protobuf-PHP
- https://github.com/allegro/php-protobuf

It will bring a consistent speed improvement if the implementation of Protobuf for PHP is fast enough. Onc

[2013-08-29 09:55] eveiga opened #62 "Add support for an http HEAD method [JIRA: CLIENTS-91]"
Hello,

Sorry for reopening this discussion, but I think that an http HEAD method would be quite useful to check if a given key exists!

This technique is being used by other clients like riak-js (https://github.com/mostlyserious/riak-js/blob/master/lib/http-client.js#L102)!

Are you considering the introduction? I can make a pull request with it, doesn't seem to hard..

Best regards

[2013-08-29 15:06] antz29 opened #63 "Deprecated: preg_replace(): The /e modifier is deprecated, use preg_replace_callback instead in /home/sites/default/releases/20130829145706/vendor/basho/riak/src/Basho/Riak/Utils.php on line 224"
Seems this needs updating for 5.5, might take a look at this myself a little later.

[2013-09-02 14:58] Addeventure opened #65 "Skip urldecode in indexSearch and getKeys [JIRA: CLIENTS-90]"
With urlencoding enabled in Riak HTTP API, 2i and list keys result should not be urldecoded in PHP as it then gets decoded twice:

[code]

This incorrectly produces "hello:world" instead of "hello%3Aworld". Simply removing urldecode (or making it an optional config value?) solves the issue.

[2013-09-03 09:47] Addeventure opened #66 "Stream keys in getAllKeys() (and possibly 2i)"
The current implementation of list keys does not stream the result, making Riak angry if there are more than a couple of thousand keys.

The following code allows for streaming keys using another curl writefunction.
I'll gladly make a pull request if you guys want it in the official repo https://github.com/ShareMyWorld/riak-php-client/commit/98060209cdfa8884c2ca2b4cb6b5cf16f7832400

Testing the op

[2013-09-27 03:54] #49 closed, assigned to alexmoore

[2013-10-11 09:31] georgepsarakis opened #68 "Multiget via MapReduce and Riak.mapValues?"
I found this very helpful Gist https://gist.github.com/drewkerrigan/4218222 implementing multiget with a MapReduce task. My question is (as you can also see in the gist comment) whether the builtin JS function `mapValues` returns data in the order given in the keys array. If not so, is it possible that an array of arrays `[ key_1 -> data_1, key_2 -> data_2, ...]` be retrieved so that key-value pai

[2013-11-11 04:40] kuenishi opened #70 "Move focus onto PB interface [JIRA: CLIENTS-83]"
As we are moving our focus onto PB interface in Java, Ruby client, PHP will be like them. [C client](https://github.com/basho/riak-c-client) is coming up and up, the future of Riak PHP client would be a small and thin C extension of the C client.

So my question is:
- Do you want all API, functions, classes be compatible with old HTTP client?
- Or partially, most of them?
- Or be thin enough to wr

[2014-01-30 14:03] eveiga opened #72 "returnbody [JIRA: CLIENTS-87]"
Hello!

I'm working with a bucket that has last_write_wins = true. This is a special use-case and I don't need the vclock info returned by each PUT/POST action.

I see that you are forcing the returnbody argument to always be true:
https://github.com/basho/riak-php-client/blob/master/src/Basho/Riak/Object.php#L606

That should be configurable, maybe a new parameter in the store method. What do you

[2014-02-03 12:51] #63 closed, assigned to nobody

[2014-03-21 10:15] RyanGordon opened #75 "Add timeout settings"
It would be great if timeout settings could be added to this library (for graceful degradation on the application) per https://github.com/basho/riak-python-client/issues/253

[2014-10-02 18:28] broach opened #78 "Ignore me"
Testing a webhook

[2014-10-02 18:33] #78 closed, assigned to nobody

[2014-10-02 18:34] broach opened #79 "Ignore me too [JIRA: CLIENTS-28]"
Blah

[2014-10-02 18:40] #79 closed, assigned to nobody

[2014-11-10 11:19] sandeepbisht opened #80 "Correction in README.md [JIRA: CLIENTS-52]"
This line

<i>$client = Basho\Riak\Riak('127.0.0.1', 8098);</i>

of section

https://github.com/basho/riak-php-client#connecting

should be

$client = <b>new</b> Basho\Riak\Riak('127.0.0.1', 8098);

[2014-12-21 17:13] #80 closed, assigned to christophermancini

[2014-12-21 17:27] #70 closed, assigned to christophermancini

[2014-12-21 17:29] #61 closed, assigned to christophermancini

[2014-12-22 02:54] #24 closed, assigned to christophermancini

[2014-12-22 03:04] #25 closed, assigned to christophermancini

[2014-12-22 04:06] #62 closed, assigned to christophermancini

[2014-12-22 04:42] #72 closed, assigned to hazen

[2014-12-22 04:44] #11 closed, assigned to hazen

[2014-12-30 14:21] christophermancini opened #83 "Tests failing in Travis CI [JIRA: CLIENTS-122]"
MarcoDeBortoli pointed out that the TravisCI tests were failing since PR #82 .

[2014-12-30 16:37] #83 closed, assigned to christophermancini

[2015-01-04 08:04] FabioBatSilva opened #85 "Riak 2.x [JIRA: CLIENTS-128]"
I Didn't notice you guys are developing a rewrite for 2.x.

I started a 2.x fork inspired by the java api,
was planning to do a PR once it my fork is close to be stable
but it looks like we are doing pretty much the same thing.. :(

In same parts my branch seems to be a little ahead
Would you guys be interested in using it ?

Please see :
* [RiakClientTest](https://github.com/FabioBatSilva/riak-ph

[2015-01-04 12:23] MarcoDeBortoli commented on #85
First glance to the minor things:

- The composer.lock should be part of the repo to ensure everyone is on the same pinned version
- You introduce a requirement for PHP 5.4 (:+1:) but that makes the description of the project inaccurate
- As per the autoloading we might want to adopt PSR-4

I'll have a look to the rest later in the day and also wait for the Basho team to say something

[2015-01-05 14:09] christophermancini commented on #85
Hey Fabio, thanks for joining the fun! I will add this issue to my sprint that starts today to review your code.

Marco, do you think that the lock file is truly necessary if you limit composer.json to the latest patch versions? They shouldn't really be changing the composer.json unless they know what they are doing anyways.

[2015-01-05 15:36] FabioBatSilva commented on #85
Thanks @MarcoDeBortoli @christophermancini,

About the composer lock

it is not necessarily recommended for libraries, It is valid only at the root project,
witch means any project including `riak-php-client` will get the dependencies from `riak-php-client/composer.json` using the latest version and then create its own  `my-project/composer.lock`

If we add a  `composer.lock` we might be testing a

[2015-01-05 16:13] christophermancini commented on #85
@FabioBatSilva thanks for that insight and the reference links, so basically its a preference thing. Personally, I don't prefer adding it in but I am open to discussion.

[2015-01-05 17:55] MarcoDeBortoli commented on #85
@christophermancini yes, as you said it's a matter of preference really.
I generally prefer to commit the lock because it puts developers on the same page and can add a bit of stability and it will avoid the recurrent "it works on my machine"
Pinning to the latest patch will not provide us the ability to be up to date especially with security fixes in our dependencies.
Anyway, either ways are fine

[2015-01-05 18:03] christophermancini commented on #85
Well, based on this article, it is starting to sound like committing the lock file is a better approach...

https://blog.engineyard.com/2014/composer-its-all-about-the-lock-file

Thoughts? @FabioBatSilva @MarcoDeBortoli

[2015-01-05 18:18] MarcoDeBortoli commented on #85
If I have to vote, I would say to commit it, but as said earlier I'm happy both ways. As @FabioBatSilva mentioned the .lock file is more relevant to the end user's project, but it can be beneficial for us too during development.

[2015-01-05 19:03] FabioBatSilva commented on #85
IMHO `.lock` does not make sense for libraries,

As `.lock` from libraries are ignored it will hide possible failures during the lib development/test

Some one installing `riak-php-client` might be using a different lib version then what we have on our `composer.lock` And we will never know something is broken in some dependency until some one experience a bug while using  `riak-php-client`.

[2015-01-05 19:20] MarcoDeBortoli commented on #85
@FabioBatSilva the .lock file make sense for us as maintainers if we internally start to rely on 3rd party dependencies. For the end user instead composer will resolves those conflict where possible giving priority to the dependency dependencies ignoring the lock itself as far as I know, unless something changed. I might ask Jordi.

[2015-01-05 19:59] FabioBatSilva commented on #85
@MarcoDeBortoli According [composer docs](https://getcomposer.org/doc/02-libraries.md#lock-file) :
*For your library you may commit the composer.lock file if you want to. This can help your team to always test against the same dependency versions. However, this lock file will not have any effect on other projects that depend on it. It only has an effect on the main project.*

I think that for libr

[2015-01-05 22:20] christophermancini commented on #85
I discussed it with the rest of the client team and the consensus is to use the approach that is most common in the community. I viewed about 10 or so packages on packagist under the Popular packages heading and not a single one committed the lock file so I think that's a winner.

[2015-01-05 22:25] MarcoDeBortoli commented on #85
Fine with me.

[2015-01-07 14:47] christophermancini commented on #85
@FabioBatSilva my only concern is that I couldn't merge your code into mine because it varies so greatly. I think the best approach would be to identify the components of what you have offer an improvement over what I have and offer those as a PR.

I am nearing a fairly large commit covering objects and CRDTs which I suspect I can probably get pushed up today.

[2015-01-07 15:17] FabioBatSilva commented on #85
@christophermancini let me known when you push it and I'll rebase my branch against 2.0 and then send the PR.

[2015-01-21 21:48] #85 closed

[2015-01-27 02:32] christophermancini opened #87 "2.0.x Kv Object instantiation [JIRA: CLIENTS-285]"
Hey folks,
I am trying to decide which is more ideal when creating a new object. Currently the way I have the 2.0.x code, here is how you create a new object:
[code]
https://github.com/basho/riak-php-client/blob/2.0.x/src/Riak/Object.php#L46

There is a setter for the Bucket object, but typically you won't need the full Bucket object unless you are working with the bucket properties.

Which seems

[2015-01-27 13:48] lukebakken commented on #87
For the C# client, we intend to move away from using strings to represent an object's identifier since they aren't any better than `void *` and are subject to typos that are difficult to debug. Each part of an object's identifier (bucket, key, bucket type (optional)) will be an immutable class that becomes part of the object's ID. The java client is doing something similar I believe. My $0.02.

In

[2015-01-27 15:30] christophermancini commented on #87
Yes, backslashes are used for PHP namespaces, so I think initially it made sense but I think its probably better if I change it to match the Riak location string. If I went the string pattern route as an interface option, then I would parse the locator string into objects in the backend.

I completely understand your position as string locator's can be error prone. App dev's could extend the Bucke

[2015-01-27 19:52] MarcoDeBortoli commented on #87
Is there any particular reason why the object should be aware of the bucket it belongs to? In my head it would be more logical to treat the bucket as a collection of object so having something like:

[code]

For sure you don't want to use setters but use DI as much as you can. Also, I noticed that you have the tendency to use setters also internally in your class, in these cases it's better to dir

[2015-01-27 21:27] christophermancini commented on #87
So, I figured that the Object should be aware of where it came from so that if it comes into another section of code, it can be saved back to the same location. However, I chatted with my team lead earlier and we discussed this in depth. Essentially, he felt that since PHP is single threaded, there in theory shouldn't be an important reason for the object to know where it came from on Riak.

Also,

[2015-01-27 22:10] MarcoDeBortoli commented on #87
Setters can have their benefit, I'm not completely against them if there is reason behind them.
What I didn't like it's the fact that you used them internally. Also be careful with traits, they seem nice and powerful but they can easily become the new "abstract" and increase the rigidity of your code.

As per the buckets I wasn't suggesting to have a massive object that handles all the operations

[2015-01-27 22:42] christophermancini commented on #87
W.r.t. encapsulation (getters / setters), I think that I need to reduce my use of setters in situations where it makes sense, to prevent bad code from mutilating the object and saving it back. This article shows a good example of this, http://cspray.github.io/2012/05/13/stop-calling-them-getters-setters.html.

Though, I am not sure I see the downsides of using them internally to the class as if we

[2015-01-27 22:59] MarcoDeBortoli commented on #87
w.r.t. accessors/mutators the downside it's more related to two factors, the minor one, performance, although negligible setters are slower than direct access, the major one, although easier, validation should be performed using validator, filters and type hinting when needed.

w.r.t. traits oh yes I agree, traits are definitely better than inheritance, it was just a memo because I've been there a

[2015-01-28 16:12] christophermancini commented on #87
Great resource, thanks for sharing! I will dig in there for sure.

Good call regarding validation, I forgot I validation baked into the Command object which should be sufficient in making sure that the data is in proper order. Plus, each command should be aware of what it needs in order to execute successfully.

So, your mention of the observer pattern, was your thoughts that during run time, the

[2015-01-28 19:30] MarcoDeBortoli commented on #87
Regarding the observer more like, if needed, that the bucket can notify the object of the relationship, as in, when you add an object to the bucket the bucket tells to the object: "Hey, I'm your bucket".
It might not be needed though and the bucket will end up just being an object storage.

For the dependencies the best approach is that they are all going to be injected so a dependency injection p

[2015-01-30 21:05] christophermancini commented on #87
@MarcoDeBortoli, I tweaked a ton and I feel pretty good about my changes. Here is an example of using the lib.

[code]

Let me know your thoughts.

[2015-02-01 21:10] MarcoDeBortoli commented on #87
@christophermancini sorry for the late reply, I had a busy week and little time to get back to you earlier.
I stil have to check the code but it looks quite need from the interface point of view. I would like it even more readable maybe, something like:

[code]

Does the node builder actually build something or is it just configuration? If the latter than maybe using a builder is not the best choi

[2015-02-02 00:52] christophermancini commented on #87
I am certainly open to improving the readability of the Command builder. I want it to be very simple / readable.

Yes, Node\Builder does build Node objects to be used by the Riak client that make the cluster. The Riak client has a built in random node selector which selects a node on construct and the ability to pick a new node upon connection failure.

I am open to alternatives and looking forwar

[2015-03-05 22:28] pavelsmolka opened #88 "Comparison to php-riak/riak-client [JIRA: CLIENTS-209]"
There is another Riak PHP client, which I believe most of PHP devs working with Riak are aware of (That's different from the C-based library, which lives in the same GitHub namespace):

https://github.com/php-riak/riak-client

It seems to be under an active development as well, and I can see it also supports protobuf. Without extensively testing both and diving into the code, would you be able to

[2015-03-05 22:37] MarcoDeBortoli commented on #88
@pavelsmolka it's hard to tell what the differences are or will be, the only thing that I can tell you is that it's very new as also mentioned by the guy and likely born after this misunderstanding

https://github.com/basho/riak-php-client/pull/86

[2015-03-05 23:45] christophermancini commented on #88
Hey Pavel, thanks for posting your question. Currently, the stable version of this client library was written to support version 1.4.* of Riak. I have been actively developing a complete rewrite which can be seen in the 2.0.x branch for the last few months and hope to be able to provide a public beta release by the end of this month.

Where they differ: Fabio worked very hard to get a stable clien

[2015-03-23 17:49] #88 closed

[2015-03-23 17:54] christophermancini commented on #87
Since it has been some time, I have an update on the path I took for the developer API for the lib. I am preparing to make an initial alpha release of the 2.0 client which will support KV objects and CRDTs.

Here is an example of storing an object without a key in the new lib:

[code]

[2015-03-23 18:07] MarcoDeBortoli commented on #87
@christophermancini what's the relationship between the bucket and the object in the example you posted?

[2015-03-23 19:11] christophermancini commented on #87
Basically there isn't really a relationship, is added to the builder to be used by the command so that Riak stores the object within that Bucket. If you were to store an existing object, you would add an already instantiated object like this:

[code]

The way the code is written, you could create your own classes extending the Command\Builder classes, e.g. StoreUser, so that all that is needed to

[2015-03-24 18:25] MarcoDeBortoli commented on #87
No, extend is bad :)

Back the initial example I'm going to be a bit of a devil's advocate here and I want to say it's not really clear that there is a dependency between the object and that bucket. I would expect more some like:

[code]
or
[code]
I think it's clearer that way

[2015-03-24 23:45] christophermancini commented on #87
Ha, well, I made it that way in the event people chose to.

The method names for the builders are absolutely up for debate, I want the builders to be very simple to understand. I actually like your suggestions, what about the following methods:

# for passing through the full objects for use by the command
- withObject(\Basho\Riak\Bucket $object)
- inBucket(\Basho\Riak\Bucket $bucket)
- atLocation

[2015-03-25 11:18] MarcoDeBortoli commented on #87
:+1:

I like it this more, it's flexible, it clearly declare what are you asking for, hence, it's readable.

[2015-03-25 11:37] christophermancini commented on #87
Great, I will update the builders. KV objects and CRDTs are currently working in the 2.x branch. A team member here at Basho is going to be helping me wrap up the rewrite, so we should have 2i and search done within the next couple of weeks.

[2015-03-25 11:37] #87 closed

[2015-03-25 11:47] MarcoDeBortoli commented on #87
Great, I will then scrutinise it ;)

[2015-03-25 14:43] christophermancini commented on #87
It has been committed. I look forward to your scrutiny. :)

[2015-03-30 13:56] Basho-JIRA commented on #58
This has been completed and will be released as part of the 2.0.x release coming up within the next couple of weeks. Can be seen within the 2.0.x branch.

***[posted via JIRA by Christopher Mancini]***

[2015-03-30 13:56] #58 closed

[2015-04-09 18:58] Basho-JIRA commented on #46
Will be accomplished via new PHP 2.0 client.

***[posted via JIRA by Derek Somogyi]***

[2015-04-09 18:58] #46 closed

[2015-04-09 19:05] Basho-JIRA commented on #65
[~cmancini], I'm guessing this can be closed.  Please confirm.  Thanks.

***[posted via JIRA by Derek Somogyi]***

[2015-04-09 19:17] Basho-JIRA commented on #88
Closing as the related GitHub issue was Closed.

***[posted via JIRA by Derek Somogyi]***

[2015-04-09 19:22] Basho-JIRA commented on #87
Closing as the related GitHub issue was Closed.

***[posted via JIRA by Derek Somogyi]***

[2015-04-10 00:52] christophermancini commented on #65
No response to confirm that this is still an issue.

[2015-04-10 01:02] christophermancini commented on #27
Completed this fix.

[2015-04-10 01:02] #27 closed

[2015-04-10 01:02] christophermancini commented on #47
This is nolonger applicable due to 2.x rewrite.

[2015-04-10 01:02] #47 closed

[2015-04-10 01:04] christophermancini commented on #54
Assuming you figured this out, found a workaround, or no longer have the problem. If you still need help, create a new issue and I would be glad to assist however I can.

[2015-04-10 01:04] #54 closed

[2015-04-10 01:04] christophermancini commented on #59
Security is being released within the next few days as part of the rewrite.

[2015-04-10 01:04] #59 closed

[2015-04-10 01:10] christophermancini commented on #66
Hey Andreas, I am not going to adjust the old client, but this is something I can implement within the rewritten client that we are releasing in the next few days. For now, since this is so old, I am going to close it. If this is a feature you would like in the new client, please just reopen this ticket and I will get it queued up.

[2015-04-10 01:10] #66 closed

[2015-04-10 01:15] christophermancini commented on #68
@georgepsarakis Did you ever come up with a solution for this?

We are releasing a rewrite of the client supporting 2.x features within the next few days. If this is something that still is desired to be part of the client, reopen this issue and I will get it queued up.

[2015-04-10 01:15] #68 closed

[2015-04-10 01:17] christophermancini commented on #75
This feature will be supported in the 2.x rewrite being released within the next few days, via the withParameter() on any of the Command builders. Docs and examples will be provided upon release.

[2015-04-10 01:17] #75 closed

[2015-04-10 13:25] Addeventure commented on #65
Oops, i missed this, sorry!

I am still on riak 1.3.2 so i cannot confirm how this behaves in 1.4.x or
2.x.
Den 10 apr 2015 02:52 skrev "Christopher Mancini" <notifications@github.com

[2015-04-10 13:41] christophermancini commented on #65
Hey @Addeventure , glad you posted back. Is this still a problem for you with the 1.4.x (master branch - I say 1.4 because of the features supported, but it works with 1.3.x) of the client?

If so, I can reopen and investigate.

[2015-04-13 08:23] Addeventure commented on #65
Yes, the lines causing the issue are:
https://github.com/basho/riak-php-client/blob/master/src/Basho/Riak/Bucket.php#L393
https://github.com/basho/riak-php-client/blob/master/src/Basho/Riak/Bucket.php#L419

To reproduce, create a new object using a key like 'hello%3Aworld'. Retrieve the key using indexSearch or getKeys. The returned data will contain the key 'hello:world'

I am not sure why the ur

[2015-04-13 12:49] christophermancini commented on #65
Alright, after we get the rewritten client released, I will investigate this for you.

[2015-04-13 21:05] FabioBatSilva commented on #88
BTW
I wrote a simple [benchmark](https://github.com/FabioBatSilva/riak-clients-performance-comparison) to compare the [c-extension](https://github.com/php-riak/php_riak),  [basho-client](https://github.com/basho/riak-php-client) and the new [2.0 client](https://github.com/php-riak/riak-client) that I'm about to release.

[2015-04-14 00:43] Basho-JIRA commented on #88
[~cmancini] See the comments above.

***[posted via JIRA by Derek Somogyi]***

[2015-04-16 15:22] lukebakken opened #96 "Document setting up environment for running test suite. [JIRA: CLIENTS-357]"
For instance, on Arch Linux:

[code]

There is also no script to set up Riak to run tests at this point.

See issues:
basho/riak-nodejs-client#43
basho/riak-dotnet-client#270

[2015-04-16 16:01] lukebakken commented on #96
Also, make a note that `phar` and `openssl` must be enabled in `php.ini`

[2015-04-23 05:00] georgepsarakis commented on #68
@christophermancini No, never found the time to test this solution. I also found this PHP extension https://github.com/php-riak/php_riak which uses Protocol Buffers instead of the HTTP API, perhaps you would like to have a look at it as well? I haven't really understood if it supports parallel Get requests (in the documentation it refers to setting the number of persistent connections but this isn

[2015-04-23 12:18] christophermancini commented on #68
@georgepsarakis Yea, I have checked out the php_riak lib. Despite the performance boost  and decreased packet sizes offered by PB, we chose not to use it because there is not a solid PHP lib for it that does not depend on a PHP extension. Our goal was to have a lightweight client lib with minimal dependencies. PB is something we would like to offer in the future, but I think we would continue to s

[2015-05-27 14:12] christophermancini commented on #65
@Addeventure Can you checkout my PR and give it a :+1: if it looks good?

[2015-06-10 12:59] #65 closed

[2015-09-18 22:19] karlra opened #103 "If a malformed search query is sent to Riak, the API starts throwing notices and warnings [JIRA: CLIENTS-597]"
The notification are:
Notice: Undefined property: stdClass::$response in \vendor\basho\riak\src\Riak\Command\Search\Response.php on line 40

Notice: Trying to get property of non-object in \vendor\basho\riak\src\Riak\Command\Search\Response.php on line 40

Warning: Invalid argument supplied for foreach() in \vendor\basho\riak\src\Riak\Command\Search\Response.php on line 40

The issue is that the $

[2015-09-24 00:11] lukebakken opened #105 "Get Riak host/port from env, if available. [JIRA: CLIENTS-605]"
I've got code like the following in the Go and Node.js clients that reads the host and port for Riak from the environment, if present:

https://github.com/basho/riak-go-client/blob/master/globals_test.go#L39-L59

This facilitates running tests against a production Riak vs devrel.

[2015-09-24 00:12] lukebakken commented on #105
Keep the default at `8098`, of course. I won't have to edit `tests/TestCase.php` to run tests.

[2015-09-24 00:15] lukebakken commented on #105
Running the `php` branch of `riak-client-tools` works too, so (shrug) :smile:

[2015-09-24 02:55] christophermancini commented on #103
@karlra thanks for bringing this to our attention, I will check into it.

[2015-09-24 14:30] alexmoore commented on #105
@lukebakken I knew that would come in handy for those that aren't fully virtualized :)

[2015-09-24 15:05] christophermancini commented on #105
@alexmoore quiet you! :stuck_out_tongue_winking_eye:

[2015-10-12 18:37] #105 closed

[2015-11-08 19:23] christophermancini commented on #103
Closing this out, please comment if you still encounter issues.

[2015-11-08 19:23] #103 closed

[2015-11-08 23:40] christophermancini commented on #96
Attempted to address this in #109

[2015-12-01 13:54] #96 closed

[2015-12-09 10:58] Ducatel opened #112 "How delete keys from some parameters ? [JIRA: CLIENTS-684]"
Hi everybody,

I'm trying to find a way to delete a set of keys.

I store data with this format:
[code]
I didn't find how I can delete keys with condition like `date < $anotherTimestamp`.
Is it possible ?

Can you help me on this point ?
Thanks for your help ;)

[2015-12-09 14:44] christophermancini commented on #112
Hi @Ducatel, currently there is not a way to automatically delete keys from within Riak KV out of the box at this time. You would have to develop a background / cron process to determine which keys are "expired" then manually delete them.

One way you could do this is with Yokozuna (Solr), which allows you to set search indexes for a bucket type to index your "date" field, then do Solr range looku

[2015-12-09 15:07] Ducatel commented on #112
Ok, so I will use Yokozuna to do it ;)
http://docs.basho.com/riak/latest/dev/using/search/

Thanks for your help.

[2015-12-09 15:07] #112 closed

[2015-12-09 15:08] christophermancini commented on #112
Your quite welcome! :)

[2016-01-08 07:24] mansoorghori opened #113 "Node failover is not working [JIRA: CLIENTS-700]"
When there is multiple nodes configured for the client and one of the nodes is down the client does not appear to failover to a different node.

The code used to initialize the client is:

[code]

$riak_hosts is a comma-separated list, e.g. riak-host-1:8091,riak-host-2:8092,riak-host-3:8093

Now if one of these nodes is down and the client picks the node that is down, on connection failure it does

[2016-01-09 22:26] christophermancini commented on #113
@mansoorghori I will look into this and get it resolved in the next few days. Thanks for bringing it to my attention.

[2016-01-11 19:23] christophermancini commented on #113
@mansoorghori I completed a fix for v3 of the client, can you take a look and see if it fixes your needs. #114

[2016-01-13 11:41] mansoorghori commented on #113
@christophermancini Thanks for the update. I had a brief look at the pull request and it seems it might be what I need. I need to try it out. How do I get this WIP code?

[2016-01-13 12:48] christophermancini commented on #113
You should be able to check it out via composer by using the branch name
instead of the release version. Just prefix it with "dev-", e. g.
dev-issue/113

The other options are to clone the repo and checkout the branch or navigate
to the branch on GitHub and download a zip file of the code.

On Wed, Jan 13, 2016, 6:41 AM mansoorghori <notifications@github.com> wrote:

--
Sincerely,

Christopher Man

[2016-01-13 13:25] mansoorghori commented on #113
@christophermancini, I've checked the code fix and it works as expected. It tries all the nodes until it get's a response. Thanks.

[2016-01-13 14:37] christophermancini commented on #113
Great! I am off the next few days, I will get a colleague to merge the PR
and cut a release.

On Wed, Jan 13, 2016, 8:25 AM mansoorghori <notifications@github.com> wrote:

--
Sincerely,

Christopher Mancini
-----------------------------

employee = {
    purpose: solve problems with code,
    phone:    7164625591,
    email:     cmancini@basho.com,
    github:    http://www.github.com/christopherm

[2016-01-14 00:00] #113 closed

[2016-02-08 17:02] lastzero opened #117 "Basho\Riak\Search\Doc does not allow to fetch all values returned by Solr [JIRA: CLIENTS-754]"
**As a developer, I want to access all field names and values returned by Solr so that I don't have to perform individual requests to Riak for each result item.**

Right now, there is no way to fetch all values returned by Solr from `Basho\Riak\Search\Doc` - there is just a magic getter for individual values (you need to know the field name to use it). While it is possible to work with this method

[2016-02-09 00:49] christophermancini commented on #117
I think this request is reasonable.  If you submit a PR, I will approve it. Otherwise, I probably can't get to it till later this week.

[2016-02-09 07:48] lastzero commented on #117
Sure, I can do that. Would you mind adding a method getDataAsArray()? The library is working with stdClass objects by default, but often developers need arrays to further process data. Type casting everywhere is kind of ugly, but I understand if that's too much change for now.

[2016-02-09 10:29] debo commented on #117
@lastzero based on the comment

My take, in the long run would then be to replace `stdClass` with an `iterator` interface because that's what you are actually need to have the requested behaviour; that would be the right way of doing this.

[2016-02-09 10:56] lastzero commented on #117
@debo You can only choose between Array and stdClass as return type for `json_decode()` - that's where `$data` comes from (second argument). Making more use of standard interfaces sounds like a great idea though for future releases.

[2016-02-09 11:03] debo commented on #117
@lastzero oh I see, I should have looked at that, make sense.

[2016-02-09 12:48] christophermancini commented on #117
Yea, I tried to keep things fairly raw with the library by not making many assumptions with how you want the data. This leaves the ability for the developer to wrap it how they see fit while maintaining performance with minimal layers of data mutation.

[2016-02-10 09:32] lastzero commented on #117
Thanks for accepting the pull request! We're currently working with the develop branch, but it'd be great to see this in a stable release.

[2016-02-10 09:32] #117 closed

[2016-02-10 15:44] christophermancini commented on #117
@lastzero Completely understand, I will cut a new release by end of the week.

[2016-03-10 11:34] mansoorghori commented on #113
Hi

Trying to find out if it is possible to get all the keys for the stored
objects within a bucket using the PHP client?

Regards

Mansoor Ghori
On 9 Jan 2016 22:27, "Christopher Mancini" <notifications@github.com> wrote:

[2016-03-11 16:45] christophermancini commented on #113
Hi @mansoorghori ,

Currently it has not been implemented for PHP but has been for some of our other clients. List keys is an extremely expensive operation on the server side and paging of the result set is not something that has really been implemented Riak side, which is ultimately why I did not implement it in PHP. Some of the other languages can handle the result set a bit easier than PHP coul

[2016-04-01 02:53] txl1290 opened #119 "problem of Store XML file into riak [JIRA: CLIENTS-816]"
Dear Mancini,
	Recently, I use basho/riak-php-client between php program and riak server. And I want store a xml file into riak, I set content-type to text/xml,but it doesn't work. I check the source code, and find "rawurlencode($data)" in riak-php-client/src/Riak/Command/Object.php line 50. This causes xml label no longer has any effect.
	I wish to konw the necessity of the code. I delete urlenco

[2016-04-08 01:26] christophermancini commented on #119
Hi @txl1290, thanks for submitting the issue, I will try to trouble shoot it. Do you have a snippet of code so that I can reproduce the issue?

[2016-04-11 08:45] txl1290 commented on #119
Hi @christophermancini ,
I found the reason. It's my mistake. I use storeObject to store xml. But I use the xml through riak http request. This doesn't contain the urldecode handle.
I use fetchObject and now it's ok.

sorry to waste your time.
Best Wishes!
Xiaolong Tang

[2016-04-11 08:46] #119 closed

[2016-06-02 08:32] imaimai86 opened #121 "Search with sort is returning null [JIRA: CLIENTS-883]"
### When i query my index using http client with following parameters, it returns me proper results, but php client is not giving me results. Removing the sort option in php client returns results

Host::8098/search/query/indx_profile?wt=json&q=profile_name_s_register:*&sort=profile_name_s_register%20asc&start=0&rows=500

But when i add sort option in php client using "withSortField", it is not re

[2016-06-09 17:59] christophermancini commented on #121
Thanks for creating this issue @imaimai86 . I will be looking it over and try to determine a resolution as soon as possible.

[2016-06-16 18:26] christophermancini commented on #121
Hi @imaimai86, sorry for the delay. I dug into it and I think I found your problem. When you are using the WithSortField() method, you are passing in the `sort=` as a prefix, which is handled for you automatically by the PHP client. If you simply pass in your field name and direction, it should work, e.g. `profile_name_s_register asc`.

To provide an example and ensure this works properly, I added

[2016-06-16 18:27] #121 closed

[2016-06-19 07:22] imaimai86 commented on #121
Hi,

I removed the sort = from the query, Now I am getting results but not sorted.

`->withSortField( 'profile_name_s_register asc' );`

Is there any additional configuration so that the sort will work in riak. I am getting sorted results using http client.

[2016-07-13 08:29] benscott opened #122 "Binary data - decode breaks submission [JIRA: CLIENTS-918]"
I'm trying to submit binary image data, for example:

        $object = new Object();
        $object->setContentType('image/jpeg');
        $object->setContentEncoding("base64");
        $object->setData([BINARY IMAGE]);

        $command = (new Command\Builder\StoreObject([RIAK]))
            ->withObject($object)
            ->atLocation([LOCATION])
            ->build()
           ->execute()

[2016-07-13 22:10] heylarson opened #124 "No support for listing keys [JIRA: CLIENTS-921]"
I need to be able to list the keys in a bucket similar to the HTTP API examples:
`GET /buckets/bucket/keys?keys=true    # List all keys`

But have not found any support.  The closest I have found is this reference:
\Basho\Riak\Api\Http::buildPath(): line 204:
`case 'Basho\Riak\Command\Bucket\Keys':`

However, it doesn't appear that this class was actually implemented.

[2016-07-20 14:03] Bob-The-Marauder opened #125 "PHP Client not reporting Internal Server Errors from Riak [JIRA: CLIENTS-927]"
Taking the example from http://docs.basho.com/riak/kv/2.1.4/developing/getting-started/php/querying/ and deliberately choosing bitcask as our back end (no index support), running the script gives the following output:-
![php output](https://cloud.githubusercontent.com/assets/20081341/16988779/8399a81e-4ecc-11e6-8cf7-c8f7382175fa.png)
where the "Janes's Orders" and "October's Orders" queries made a

[2016-07-26 18:22] heylarson opened #127 "Header data should be included in ObjectResponse [JIRA: CLIENTS-944]"
It would be beneficial for the Basho\Riak\Command\Object\Response class to have a property for the header data that can be publicly accessible.

The header data contains valuable information that would be beneficial for the developer.

[2016-07-27 14:35] christophermancini commented on #124
Hi @heylarson, at the time of initial redevelopment of the PHP client we decided that since the list keys operation is a very expensive operation for Riak and can be challenging to consume over HTTP (lack of pagination), that we did not implement it. Also, we have recently been focusing on addressing technical debt and improving Riak performance across the board which might lead to better list key

[2016-07-27 15:45] christophermancini commented on #125
Hi @Bob-The-Marauder, I am working on a fix for this issue and hopeful to have it resolved within the next few days. Thanks for reporting it.

[2016-07-27 15:54] christophermancini commented on #127
Hi @heylarson, may I ask which headers specifically you are interested in? I attempted to make sure the most commonly accessed headers as well as meta data headers were converted and stored within the Basho\Riak\Object class.

I can't attach them to the Response class because this library supports both the Riak HTTP and PB interfaces. Protocol Buffers does not use headers and could potentially cau

[2016-07-27 16:21] heylarson commented on #124
Hey Chris,
Great to hear all the progress you're making on the library! The necessity for this functionality stems from a unit testing perspective. In between my integration unit tests, I like to clear any data from the previous test, which is where I found this function to be helpful. I agree with you in that this function could be expensive when used with larger data sets.  For my workaround, I

[2016-07-27 16:28] heylarson commented on #127
Thanks (again) for the response!  I have a requirement to determine the last time an object had been modified, which led me to reference the Last-Modified header from the Object response. Your implementation makes more sense now that you've mentioned the library accommodates both protocols.

I will try your solution today.  Thank you.

[2016-07-27 20:36] heylarson opened #128 "responseHeaderCallback is truncating datetime-related header fields [JIRA: CLIENTS-948]"
Header fields like Last-Modified, are being truncated incorrectly due to the colon character associated with datetime fields.  The explode function delimiter is set to the colon to parse the header key, and header value but is truncating any header values that have a colon character in it.

Found in: basho/riak/src/Riak/Api/Http.php:607

A proposed fix would be to change that line to:
[code]

[2016-07-28 03:46] #127 closed

[2016-08-11 15:43] christophermancini commented on #124
@heylarson sorry for the delay. So, for this client, I handle cleanup of test data a few different ways.

* Use the default bucket type as it does not allow siblings, which only works if the functionality you are testing doesn't require siblings and conflict resolution
* Use PHPUnits setUpBeforeClass() and tearDownAfterClass() functions to setup / cleanup the values you need to stay consistent bet

[2016-08-11 15:47] christophermancini commented on #128
I will check into this issue, thanks for reporting it.

[2016-09-01 17:46] Basho-JIRA commented on #122
PRs:
* https://github.com/basho/riak-php-client/pull/131 (OPEN)
* https://github.com/basho/riak-php-client/pull/123 (CLOSED)
* https://github.com/basho/riak-php-client/pull/129 (CLOSED)

***[posted via JIRA by Derek Somogyi]***

[2016-09-01 17:47] Basho-JIRA commented on #125
[~cmancini] - Can this be closed?  The PR is closed...

***[posted via JIRA by Derek Somogyi]***

[2016-09-01 19:05] Basho-JIRA commented on #125
Yes

On Thu, Sep 1, 2016, 1:48 PM Derek Somogyi (JIRA) <

--
Sincerely,

Christopher Mancini
-----------------------------

employee = {
    purpose: solve problems with code,
    phone:    7164625591,
    email:     cmancini@basho.com,
    github:    http://www.github.com/christophermancini
}

***[posted via JIRA by Christopher Mancini]***

[2016-09-01 20:14] #125 closed

[2016-09-16 16:09] lukebakken opened #133 "Support for HyperLogLog data type [JIRA: CLIENTS-981]"

[2016-09-21 17:31] #133 closed

[2016-10-03 15:26] basvandorst opened #138 "PHP7 soft reserved keywords "object" [JIRA: CLIENTS-1009]"
**File:**
`src/Riak/Object.php`

**Message:**
Name "object" that is reserved for future use (does not cause an error in PHP 7) used as a use statement alias `Riak\Object`

*More information*
[List of other reserved words](http://php.net/manual/en/reserved.other-reserved-words.php)
[Doctrine cache issue](https://github.com/doctrine/cache/issues/179)

[2016-10-11 17:27] christophermancini commented on #122
This should be resolved via the changes in #131

[2016-10-11 17:27] #122 closed

[2016-10-11 18:11] christophermancini commented on #138
So, after reviewing https://github.com/doctrine/cache/issues/179 in more detail, the issue you are reporting requires a change to https://github.com/doctrine/cache/blob/master/lib/Doctrine/Common/Cache/RiakCache.php#L25 which is not managed by this repository. However, I am glad you posted the issue here because a few places in our code base needed to be updated. I have made those changes in #139

[2016-10-11 18:11] #138 closed

[2016-10-11 18:14] christophermancini commented on #124
I am going to close this issue for now, if you need more help feel free to reopen this issue.

[2016-10-11 18:14] #124 closed

[2016-10-17 16:13] Basho-JIRA commented on #122
This is done

On Mon, Oct 17, 2016, 12:09 PM Derek Somogyi (JIRA) <

--
Sincerely,

Christopher Mancini
-----------------------------

employee = {
    purpose: solve problems with code,
    phone:    7164625591,
    email:     cmancini@basho.com,
    github:    http://www.github.com/christophermancini
}

***[posted via JIRA by Christopher Mancini]***

[2016-10-20 15:22] christophermancini commented on #128
@heylarson Thanks again for all your contributions to the library. I fixed this bug in #140. Let me know if it doesn't resolve your issue.

[2016-10-26 20:12] heylarson commented on #128
Looks good!

[2016-10-26 20:12] #128 closed

[2017-01-17 23:31] DSomogyi opened #144 "Add warning and safety mechanism to prevent unintentional list [buckets | keys] operations [JIRA: CLIENTS-1069]"

[2017-02-14 23:13] #144 closed, assigned to alexmoore

[2017-08-29 08:56] hn0pw opened #150 "Bug, missing method for delete command"
The method is missing in the following class on line ~15.
[code]
https://github.com/basho/riak-php-client/blob/develop/src/Riak/Command/TimeSeries/Delete.php#L15

[2017-10-01 00:51] Geolim4 opened #151 "Perform a DELETE/TRUNCATE operation over a specific bucket"
The title says it all.

How to performs a LIST KEYS & DELETE or a TRUNCATE operation over a specific bucket ?

Cheers,
Georges.L

[2017-10-09 13:06] robocoder opened #152 "PHP 7.2 - `Object` is a reserved word"
In PHP 7.2.0RC2, `Object` is a reserved word. It'll trigger the error, "PHP Fatal error:  Cannot use 'Object' as class name as it is reserved ..."

* https://github.com/basho/riak-php-client/blob/develop/src/Riak/Object.php
* https://github.com/basho/riak-php-client/blob/develop/src/Riak/Command/Object.php

[2017-10-11 19:42] Geolim4 commented on #152
Hope they'll merge it :)

[2017-10-11 19:44] #151 closed, assigned to nobody

[2017-10-11 19:44] Geolim4 commented on #152
Poke @christophermancini @alexmoore

[2017-10-11 23:09] Geolim4 commented on #152
Just added two PR, awaiting the authors to merge them :)
#153 (develop)
#154 (1.4.x)

[2017-10-12 01:12] alexmoore commented on #152
@Geolim4 @robocoder  Unfortunately neither of us work for Basho, nor have access to this repository anymore. You're better off forking and releasing your own version for now.

[2017-10-20 10:53] Geolim4 commented on #152
Yeah I did that. Gonna fork this in the day. Thanks.

[2017-10-20 11:22] Geolim4 commented on #152
@robocoder
I just forked and fixed it:
https://github.com/PHPSocialNetwork/riak-php-client/releases
Use `composer require phpfastcache/riak-client` to install the library.

The versions 3.4.1 and the version 1.4.4 fixes this incompatibility.
FYI, tests were green on the original pull request.

Cheers,
Georges.

[2017-10-20 13:05] christophermancini commented on #150
@ramon-ga unfortunately with Basho's recent circumstances, none of us have access to the repository anymore. You will have to wait till Bet365 takes over or fork the repository.

[2018-09-07 18:43] L1breteam opened #155 "Problem with installation"
I need help on this:

  Problem 1
    - The requested package basho/riak No version set (parsed as 1.0.0) is satisfiable by basho/riak[No version set (parsed as 1.0.0)] but these conflict with your requirements or minimum-stability.

[2018-09-12 11:15] debo commented on #155
Hi @L1breteam, how did you request the package? Do you have a gist of your composer.json file?

[2018-10-05 16:21] TomasVotruba commented on #152
Just dropping by... I work on a refactoring tool, that helps with PHP code migration to newer version.

I've just added PR https://github.com/rectorphp/rector/pull/657 that help with `Object` migration anywhere in the code. Class, parent, typehints, new instances etc.
It really helps with hude code base upgrades.

[2019-08-30 06:21] HenkPoley commented on #152
Related issue: https://github.com/rectorphp/rector/issues/1919

Edit; Ah, I see that previously Rectorphp already bumped into this 😶

[2022-08-15 17:30] wladimiravila commented on #155
hello @L1breteam that depends of your composer configuration, actually isn't a error of basho package

[2022-08-15 17:32] wladimiravila commented on #152
Hi all, I did the fix to solve some similar achieving compatibility tested with php 7.4 in this PR https://github.com/basho/riak-php-client/pull/156